{% extends '::base.html.twig' %}
{% block menuActI %}{% endblock %}
{% block menuActE %}class="active"{% endblock %}
{% block menuActP %}{% endblock %}
{% block menuLateral %}  
<div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Envios</li>
              <li ><a href="{{ path ('envios') }}">Listar</a></li>
              <li class="active"><a href="{{ path ('envios_cargar') }}">Cargar</a></li>
              
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
{% endblock %}
{% block body -%}
    <h1>Cargar</h1>

    {{ form(form) }}

      
    
{% endblock %}
