{% extends '::base.html.twig' %}

{% block menuActI %}{% endblock %}
{% block menuActB %}class="active"{% endblock %}
{% block menuActP %}{% endblock %}
{% block menuLateral %}  
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Bolsa Sms</li>
                <li class="active"><a href="{{ path ('bolsasms_new') }}">Crear</a></li> 
                <li class=""><a href="{{ path ('bolsasms') }}">Listar</a></li>
                
            </ul>
        </div><!--/.well -->
    </div><!--/span-->
{% endblock %}

{% block body -%}
    <h1>Bolsa Sms crear</h1>

    {{ form(form) }}

        
{% endblock %}
