{% extends '::base.html.twig' %}
{% block menuLateral %}  
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Paquetes Sms</li>
                <li class="active"><a href="{{  path('paquetesms_edit', { 'id': entity.id }) }}">Editar</a></li> 
                <li class=""><a href="{{ path ('paquetesms') }}">Listar</a></li>              
            </ul>
        </div><!--/.well -->
    </div><!--/span-->
{% endblock %}
{% block body -%}
    <h1>Paquetes Sms editar</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
